body {
    background: #FFF;
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', verdana, arial, helvetica;
}

body::-webkit-scrollbar {
    background: #87AADE;
    width: 2vw;
    height: auto;
}

body::-webkit-scrollbar-button {
    background: #162D50;
    width: 2vw;
    height: 2vh;
}

body::-webkit-scrollbar-thumb {
    background: #162D50;
}

.page_block {
    height: 100vh;
    max-width: 100%;
    position: relative;
    margin: 0;
}

#info_header {
    height: 60hv;
    width: 40hw;
    position: absolute;
    left: 10vw;
    top: 20vh;
}

#info_text {
    height: 80vh;
    width: 40hw;
    right: 10vw;
    top: 10vh;
    color: #16D250;
    font-family: helvetica, verdana, arial;
    font-size: 1em;
    text-align: justify;
    overflow-y: auto;
    -ms-overflow-y: auto;
}
