.menu_bar {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    z-index: 1;
}

.menu_option {
    background: transparent;
    color: #162d50;
    display: inline-block;
    font-family: 'Rajdhani', verdana, arial, helvetica;
    font-size: 1em;
    padding: .5em;
    text-decoration: none;
    transition: background 3s;
    vertical-align: middle;
    width: auto;
}

.menu_option:hover {
    background: #87AADE;
}

.menu_logo {
    display: inline-block;
    height: 2em;
    vertical-align: middle;
}
