.news_block {
    position: absolute;
    top: 25vh;
    right: 12vw;
    background: rgba(255,255,255,.7);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    width: 25vw;
}

.news_title {
    color: #3737C8;
    font-family: 'ode-font', verdana, arial, helvetica;
    font-size: 2em;
    text-align: center;
    padding: .5em;
    text-decoration: none;
}

.news_snippet {
    color: #162D50;
    font-family: verdana, arial, helvetica;
    font-size: 1em;
    text-align: justify;
    padding: .3em;
    letter-spacing: .2em;
    line-height: 1.5em;
}
