body {
    font-family: 'ode-font', helvetica, verdana, arial;
}

.logo {
    min-width: 10vh;
    max-width: 10vw;
    background: transparent;
    margin: 1vh;
} /* To be used in img */

.info_block {
    width: 80vw;
    padding: 10vw;
    padding-bottom: 5vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    letter-spacing: .2em;
    line-height: 1.5em;
    color: #162D50;
    text-align: justify;
    font-family: helvetica, verdana, arial;
    font-size: 4vw;
}

#schedule_image {
    width: 80vw;
    margin: 2vh;
}

.button {
    background: #3737ad;
    border-radius: 0.25em;
    border: none;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 4vw;
    padding: 5vw;
    width: 50vw;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.minibutton {
    font-size: 4vw;
    padding: 3vw;
    width: 50vw;
}
