---
title: Seccom
layout: default
pagination:
  enabled: true
---

<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ "/css/variables.css" | relative_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/css/news.css" | relative_url }}">
        <link rel="stylesheet" type="text/css" href="{{ "/css/paginate.css" | relative_url }}">
    </head>

    <body>

        <div class="news_background" style="background-image: url({{ "/assets/circuits_background.jpg" | relative_url }})">
            <div class="news_list">
                {% for post in paginator.posts %}
                    <div class="news_post">
                        <h1><a href="{{ site.baseurl }}{{ post.url }}" >{{ post.title }}</a></h1>
                        <p style="text-align: center;">{{ post.date | date: "%d/%m/%Y"}}</p>
                        {{ post.excerpt }}
                    </div>
                {% endfor %}


                <div class="pagination-links">
                    <!-- editar links de paginação -->
                    {% if paginator.total_pages > 1 %}
                        <div class="pagination">
                        {% if paginator.previous_page %}
                            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                        {% else %}
                            <span>&laquo; Prev</span>
                        {% endif %}

                        {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                                <span>{{ page }}</span>
                            {% elsif page == 1 %}
                                <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                            {% else %}
                                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.next_page %}
                            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                        {% else %}
                            <span>Next &raquo;</span>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </body>

</html>

<!-- <center><div style="font-size: 5em; font-family: Rajdhani;"><br>EM CONSTRUÇÃO</div></center> -->
