<div class="menu_bar">
    <a class="button-small-text" id="sympla" href="https://www.sympla.com.br/seccom-2018__314587" target="_blank"><img src="http://www.sympla.com.br/images/btn-register-widget.png" alt="" style="" /></a>
    <a class="menu_option" href="{{ "/sponsors.html" | relative_url }}">Patrocínio</a>
    <a class="menu_option" href="{{ "/people.html" | relative_url }}">Conheça</a>
    <a class="menu_option" href="{{ "/" | relative_url }}">
        <img class="menu_logo"
             src="{{ "/assets/logovsfinal.svg" | relative_url }}"
        >
    </a>
    <a class="menu_option" href="{{ "/events.html" | relative_url }}">Atrações</a>
    <a class="menu_option" href="{{ "/news" | relative_url }}">Notícias</a>
</div>
