<div class="m_menu_button" onClick="menu_click()">=</div>

<div class="m_menu_bar" id="menu">
    <a class="m_menu_option" href="{{ "/m/" | relative_url }}">Início</a>
    <a class="m_menu_option" href="{{ "/m/posts.html" | relative_url }}">Notícias</a>
    <div class="m_menu_option">Atrações</div>
    <ul class="menu_list">
        <li><a class="m_menu_option" href="{{ "/m/lectures.html" | relative_url }}">Palestras</a></li>
        <li><a class="m_menu_option" href="{{ "/m/courses.html" | relative_url }}">Minicursos</a></li>
        <li><a class="m_menu_option" href="{{ "/m/events.html" | relative_url }}">Outros</a></li>
    </ul>
    <div class="m_menu_option">Conheça</div>
    <ul class="m_menu_list">
        <li><a class="m_menu_option" href="{{ "/m/lecturers.html" | relative_url }}">Palestrantes</a></li>
        <li><a class="m_menu_option" href="{{ "/m/teachers.html" | relative_url }}">Ministrantes</a></li>
        <li><a class="m_menu_option" href="{{ "/m/co.html" | relative_url }}">Comissão Organizadora</a></li>
    </ul>
</div>
