.counter_block {
    background: #FFF;
    height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10%;
    min-width: 10%;
    text-align: center;
}

.counter_set {
    display: inline;
    text-align: center;
    vertical-align: middle;
    padding: 3vw;
}

.counter_number {
    font-size: 4em;
    text-align: center;
    font-family: 'ode-font', verdana, arial, helvetica;
    color: #000;
}

.counter_label {
    font-size: .7em;
    text-align: center;
    font-family: 'ode-font', verdana, arial, helvetica;
    color: #162d50;
    margin-top: -2em;
}
