#photo_block {
    background-image: url(https://raw.githubusercontent.com/seccom-ufsc/2018/master/assets/seccom2017.jpg);
    background-size: 100vw;
    width: 100%;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}

#description_block {
    background: #FFF;
    width: 60%;
    height: 60%;
    position: relative;
    top: 20%;
    left: 20%;
    color: #162d50;
    font-family: helvetica, verdana, arial;
    text-align: justify;
    font-size: 1.3em;
    box-sizing: border-box;
    padding: 1.5vw;
    transition: opacity 2s;
    opacity: 1;
    overflow: auto;
}

.emp_block {
    background: #FFF;
    width: 100%;
    box-sizing: border-box;
    padding: 2vw;
    vertical-align: middle;
}

.emp_set {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 5vw;
}

.emp_diamante {
    height: 10vh;
    display: inline;
    margin-bottom: 1vw;
}

.emp_logo {
    height: 5vh;
    display: inline-block;
    margin: 1vw;
}

#schedule_image {
    height: 80vh;
    margin: 10vw;
    margin-top: 0;
}
