.post_background {
    display: flex;
    width: 100%;
    display: block;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.post_page {
    background: #FFF;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    width: 100%;
    max-width: 1000px;
    padding-bottom: 5vw;
    text-align: center;
}

.post_title {
    display: block;
    font-family: 'ode-font', verdana, arial, helvetica;
    font-size: 2em;
    text-align: center;
    margin: 2em auto 1em;
    color: #3737C8;
}

.post_body {
    text-align: justify;
    font-family: helvetica, verdana, arial;
    font-size: 1em;
    letter-spacing: .2em;
    line-height: 1.5em;
    color: #000;
    margin: auto 10vw;
    width: auto;
}

.post_tags {
    text-align: center;
    font-family: 'ode-font', verdana, arial, helvetica;
    font-size: .7em;
    color: #87aade;
    letter-spacing: .5em;
    padding: 1em;
    display: inline-block;
}

.bt_back {
    font-family: 'ode-font', verdana, arial, helvetica;
    font-size: 1em;
    text-decoration: none;
    color: var(--azul-seccom);
}
