:root {
    --azul-seccom-escuro: #162d50;
    --azul-seccom: #3737c8;
    --azul-seccom-claro: #87AADE;
}

@font-face {
    font-family: "ode-font";
    src: url('../assets/ode_to_idle_gaming/ode_to_idle_gaming.woff') format('woff');
    src: url('../assets/ode_to_idle_gaming/ode_to_idle_gaming.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}