<!DOCTYPE html>
    <html>

        <head>
            <title>{{ page.title }}</title>
            <link rel="stylesheet" type="text/css" href="{{ "/css/menu.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/general.css" | relative_url }}">
            <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
        </head>

        <body>
            <header>
                <div class="menu_bar">
                    <a class="menu_option" href="{{ "/" | relative_url }}">Início</a>
                    <a class="menu_option" href="{{ "posts.html" | relative_url }}">Notícias</a>
                    <img class="menu_logo" src="{{ "/assets/logovsfinal.png" | relative_url }}">
                    <a class="menu_option" href="{{ "/#info" | relative_url }}">Sobre</a>
                    <a class="menu_option" href="">Cronograma</a>
                </div>
            </header>
            {{ content }}
        </body>

    </html>
