<!DOCTYPE html>
    <html>

        <head>
            <title>{{ page.title }}</title>
            <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">
            <link rel="stylesheet" href="{{ "/css/variables.css" | relative_url }}">
            <link rel="stylesheet" href="{{ "/css/menu.css" | relative_url }}">
            <link rel="stylesheet" href="{{ "/css/general.css" | relative_url }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani">
        </head>

        <body>
            <header>
                {% include menu.html %}
            </header>
            {{ content }}
        </body>

    </html>
