<!DOCTYPE html>
    <html>

        <head>
            <title>{{ page.title }}</title>
            <link rel="icon" type="image/png" href="{{ "/assets/logovsfinal.svg" | relative_url }}">
            <script src="{{ "/js/mobile_menu.js" | relative_url }}"></script>
            <link rel="stylesheet" type="text/css" href="{{ "/css/variables.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/mobile/menu.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/mobile/general.css" | relative_url }}">
            <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
        </head>

        <body>
            <header>
                <center><img class="logo" src="{{ "/assets/logovsfinal.png" | relative_url }}"></center>
                {% include mobile_menu.html %}
            </header>
            {{ content }}
        </body>

    </html>
