<!doctype html>
    <html>

        <head>
            <title>{{ page.title }}</title>
            <link rel="icon" type="image/png" href="{{ "/assets/logovsfinal.svg" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/variables.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/post.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/general.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/menu.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/mobile/menu.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/mobile/general.css" | relative_url }}">
            <script src="{{ "/js/mobile_menu.js" | relative_url }}"></script>
            <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
        </head>

        <body>
            <header>
                <center><img class="m_logo" src="{{ "/assets/logovsfinal.png" | relative_url }}"></center>
                {% include mobile_menu.html %}
                {% include menu.html %}
            </header>

            <div class="post_background" style="background-image: url(https://raw.githubusercontent.com/ArthurPixels/SECCOM-2018/master/assets/circuits_background.jpg)">

                <div class="post_page">
                    <div class="post_title">{{ page.title }}</div>

                    <div class="post_body">{{ content }}</div>

                    {% for tag in page.tags %}
                        <div class="post_tags">| {{ tag }} |</div>
                    {% endfor %}
                    <br>
                    <a class="bt_back" href="#" onclick="window.history.back()">
                       VOLTAR 
                    </a>
                </div>
            </div>
        </body>

    </html>
