<!doctype html>
    <html>

        <head>
            <title>{{ page.title }}</title>
            <link rel="stylesheet" type="text/css" href="{{ "/css/post.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/general.css" | relative_url }}">
            <link rel="stylesheet" type="text/css" href="{{ "/css/menu.css" | relative_url }}">
            <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
        </head>

        <body>
            <header>
                {% include menu.html %}
                <div class="post_header_title">{{ page.title }}</div>
            </header>

            <div class="post_body">{{ content }}</div>
            <div class="lateral_circuit_bar" style="left: 0;"></div>
            <div class="lateral_circuit_bar" style="right: 0;"></div>

            <footer style="text-align: center;">
                {% for tag in page.tags %}
                    <div class="post_footer_tags">| {{ tag }} |</div>
                {% endfor %}
            </footer>
        </body>

    </html>
